[submodule "ext_src/volley"]
	path = ext_src/volley
	url = https://android.googlesource.com/platform/frameworks/volley
[submodule "ext_src/greenInject"]
	path = ext_src/greenInject
	url = https://github.com/greenrobot/greenInject.git
